Codes/*.py
Codes/*.sh
Codes/__pycache__
Data/*/*.xlsx
Data/*/*.abs
Data/*/*.pdf
Data/*/*.txt
Data/*/DataRaw
Data/*_BAD
assets/css/print.css
assets/css/style.css
Data/*/BAM
Data/*/BAMRAW/*cross*
Data/*/BAMRAW/*dep*
Data/*/BAMRAW/Test_ImageJ
Data/*/ABS
Data/*/BAM_ABS
AFM
*.csv
*.xlsx
.vscode

